:root{
    --red:hsl(0, 100%, 66%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    width: 100%;
}

.attribution { font-size: 11px; text-align: center; margin-top: 1rem; }
.attribution a { color: hsl(228, 45%, 44%); }

.main-container{
    width: 100%;
    margin: 0 auto;
    height: auto;
}

@media (min-width:769px){
    .main-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
    }
}


/*Card*/
.card-bg{
    background:url(/images/bg-main-mobile.png) no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container{
    width: 375px;
    height: 250px;
    position: relative;
    margin: 3rem auto 0;
    padding: 0;
}

.front-card{
    background: url(/images/bg-card-front.png) no-repeat;
    background-position: center;
    position: absolute;
    width:290px;
    height: 158px;
    border-radius: .5rem;
    top: 6.4rem;
    left: 0rem;
    z-index: 2;
    padding: 1rem;
    color: white;
}

.front-card img{
    height: 30px;
    margin-bottom: 2rem;
}

.number{
    display: flex;
    justify-content: space-between;
}

.number p{
    letter-spacing:3px ;

}

.name{
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
}

.name p{
    font-size: .7rem;
    text-transform: uppercase;
}

.back-card{
    background: url(/images/bg-card-back.png) no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: 290px;
    height: 158px;
    left: 5rem;
    border-radius: .5rem;
}

.back-card p{
    text-align: end;
    padding: 4.2rem 2.4rem;
    color: white;
}


@media(min-width:1280px){
    .card-bg{
        background: url(/images/bg-main-desktop.png) no-repeat;
        background-size: cover;
        width: 30%;
        height: 100vh;
    }
    .cards-container{
        top: 25vh;
        left: 15rem;
        position: absolute;
    }
    .front-card{
        top: 0;
        left: 0rem;
    }
    .back-card{
        top: 13rem;
        left: 4rem;
    }
}

@media(min-width:1920px){
    .cards-container{
        left: 22rem;
    }
}

/*Formulario*/
.form{
    padding: 0 2rem;
    display: block;
    max-width: 400px;
    margin: 6rem auto 0;
}

label{
    display: block;
    color: var(--Very-dark-violet);
    text-transform: uppercase;
    margin-bottom: .3rem;
    margin-top: .8rem;
    font-size: .8rem;
    letter-spacing:3px;
}

.form input{
    width: 100%;
    height: 35px;
    border: 1px solid var(--Light-grayish-violet);
    border-radius: .4rem;
    padding: .5rem;
    font-family: 'Space Grotesk', sans-serif;
}

.form input::placeholder{
    color: var(--Dark-grayish-violet);
}

.month-cvc{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 1.5rem;
}

.month-year{
    display: flex;
    justify-content: space-between;
    margin-right:1rem;
}

.month-year-Card{
    display: flex;
}

.month-year input{
    width: 45%;
}

input.submit{
    background-color: var(--Very-dark-violet);
    color: white;
    padding: .8rem 0;
    text-align: center;
    height: 50px;
    border-radius: .6rem;
    font-size: 1rem;
    cursor: pointer;
}

.error-format{
    font-size: .7rem;
    margin-top: .5rem;
    color: var(--red);
    display: none;
}


@media(min-width:1280px){
    .form{
        margin: auto auto;
        max-width: 40%;
        padding:0 0 0 8rem;
    }
}

/*COMPLETE STATE*/

.complete-state{
    padding: 0 2rem;
    margin-top: 6rem;
    text-align: center;
    display:none;
}

.complete-state img{
    width: 15%;
    margin-bottom: 1.8rem;
}

.complete-state h2{
    color: var(--Very-dark-violet);
    text-transform: uppercase;
    letter-spacing:3px ;
}

.complete-state p{
    color: var(--Dark-grayish-violet);
    margin-top: 1rem;
}

.complete-state input{
    width: 100%;
    border: none;
    margin-top: 2rem;
}

@media(min-width:481px){
    .complete-state{
        margin: 8rem auto;
        padding: 0 10rem;
        display: none;
    }

}

@media(min-width:1280px){
    .complete-state{
        margin: auto auto;
        width:40%;
        padding:0 0 0 8rem;
    }
}

